@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 223 16% 9%;
    --background: 26 30% 95%;
    --muted-foreground: 220 11% 22%;
    --muted: 44 18% 88%;
    --border: 0 0% 86%;
    --card: 45 21% 93%;

    --accent: 167 70% 45%;

    --dot-bg-color: hsl(26, 30%, 95%);
    --dot-color: hsl(0, 0%, 85%);
    --dot-mask-color: hsl(30, 100%, 99%);

    --scrollbar-thumb: 0 0% 37%;
    --scrollbar-thumb-hover: 0 0% 40%;
  }

  .dark {
    --foreground: 34 78% 91%;
    --background: 0 0% 10%;
    --muted-foreground: 33, 15%, 76%;
    --muted: 0 0% 24%;
    --border: 220 5% 18%;
    --card: 0 0% 17%;

    --accent: 167 70% 55%;

    --dot-bg-color: hsl(0, 0%, 10%);
    --dot-color: hsl(225, 5%, 16%);
    --dot-mask-color: hsl(223 16% 9%);
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  html {
    font-family: Inter, system-ui, sans-serif;
    background: hsl(var(--background));
    color: hsl(var(--foreground));
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* html.dark .shiki,
  html.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  } */
}

@layer utilities {
  .bg-dot::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    inset: 0;
    background:
      linear-gradient(90deg, var(--dot-bg-color) 18px, transparent 1%) 50%,
      linear-gradient(var(--dot-bg-color) 18px, transparent 1%) 50%,
      var(--dot-color);
    background-position: center center;
    background-size: 20px 20px;
    -webkit-mask-image: linear-gradient(
      0deg,
      transparent 5%,
      var(--dot-mask-color)
    );
    mask-image: linear-gradient(0deg, transparent 5%, var(--dot-mask-color));
  }
}

/* theme switch animation styles */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

html.dark::view-transition-old(root) {
  z-index: 2147483646;
}

html.dark::view-transition-new(root) {
  z-index: 1;
}
