@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 223 16% 9%;
    --background: 26 30% 95%;
    --muted-foreground: 220 11% 22%;
    --border: 0 0% 75%;
    --card: hsl 28, 76%, 95%;

    --dot-bg-color: hsl(26, 30%, 95%);
    --dot-color: hsl(0, 0%, 85%);
    --dot-mask-color: hsl(30, 100%, 99%);

    --scrollbar-thumb: 0 0% 37%;
    --scrollbar-thumb-hover: 0 0% 40%;
  }

  .dark {
    --foreground: 34 78% 91%;
    --background: 0, 0%, 10%;
    --muted-foreground: 33, 15%, 76%;
    --border: 220 5% 22%;
    --card: hsl 0, 0%, 10%;

    --dot-bg-color: hsl(0, 0%, 10%);
    --dot-color: hsl(225, 5%, 16%);
    --dot-mask-color: hsl(223 16% 9%);

    --scrollbar-thumb: 0, 0%, 53%;
    --scrollbar-thumb-hover: 0, 0%, 33%;
  }
}

@layer base {
  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "GeistMono";
    src: url("/fonts/geist/GeistMonoVF.woff") format("woff");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Literata";
    src: url("/fonts/geist/Literata-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  html {
    font-family: Manrope, system-ui, sans-serif;
    background: hsl(var(--background));
    color: hsl(var(--foreground));
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .text-gradient {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to-right, from #1d4ed8 to #c026d3);
  }

  .bg-dot::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    inset: 0;
    background:
      linear-gradient(90deg, var(--dot-bg-color) 18px, transparent 1%) 50%,
      linear-gradient(var(--dot-bg-color) 18px, transparent 1%) 50%,
      var(--dot-color);
    background-position: center center;
    background-size: 20px 20px;
    -webkit-mask-image: linear-gradient(
      0deg,
      transparent 5%,
      var(--dot-mask-color)
    );
    mask-image: linear-gradient(0deg, transparent 5%, var(--dot-mask-color));
  }

  .card {
    position: relative;
  }

  .card::after {
    width: 1px;
    height: 70px;
    background: linear-gradient(transparent, mediumslateblue, transparent);
    position: absolute;
    left: -1px;
    top: 65%;
    content: "";
    transition:
      top 600ms ease,
      opacity 600ms ease;

    opacity: 0;
  }

  .card:hover::after {
    opacity: 1;
    top: 25%;
  }

  .card::before {
    width: 1px;
    height: 70px;
    background: linear-gradient(transparent, mediumslateblue, transparent);
    position: absolute;
    right: -1px;
    top: 25%;
    content: "";
    transition:
      top 600ms ease,
      opacity 600ms ease;

    opacity: 0;
  }
  .card:hover::before {
    opacity: 1;
    top: 65%;
  }
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 0.525rem;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--scrollbar-thumb));
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--scrollbar-thumb-hover));
}
::-webkit-scrollbar-track {
  background: hsl(var(--background) / 0.8);
}

/* theme switch animation styles */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

html.dark::view-transition-old(root) {
  z-index: 2147483646;
}

html.dark::view-transition-new(root) {
  z-index: 1;
}
