---
import Container from "../components/Container.astro";
---


<Container>
   <div class='flex h-screen flex-col items-center justify-center bg-dot'>
     <h1 class='text-5xl font-bold'>404</h1>
     <p class='mt-2 text-2xl'>Page not found</p>
   
     <a href='/' class='mt-4 h-10 px-4 py-2 hover:bg-border border transition duration-300 flex items-center gap-3 rounded'>
       <svg
         class='mr-2 h-4 w-4 shrink-0'
         xmlns='http://www.w3.org/2000/svg'
         width='24'
         height='24'
         viewBox='0 0 24 24'
         fill='none'
         stroke='currentColor'
         stroke-width='2'
         stroke-linecap='round'
         stroke-linejoin='round'
         class='lucide lucide-undo'
         ><path d='M3 7v6h6'></path><path
           d='M21 17a9 9 0 0 0-9-9 9 9 0 0 0-6 2.3L3 13'></path></svg
       >
       Go back home
     </a>
   </div>
</Container>
