---
import Link from '@/components/Link.astro';
import Container from '../components/Container.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Page not found'>
  <Container class='border-t'>
    <div
      class='border-x flex min-h-[calc(100vh-168px)] lg:min-h-[calc(100vh-269px)] flex-col items-center justify-center'
    >
      <h1 class='text-5xl font-bold'>404</h1>
      <p class='mt-2 text-2xl mb-6'>Page not found</p>

      <Link href='/'>
        <svg
          class=''
          xmlns='http://www.w3.org/2000/svg'
          width='16'
          height='16'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
          ><path d='M3 7v6h6'></path><path
            d='M21 17a9 9 0 0 0-9-9 9 9 0 0 0-6 2.3L3 13'></path></svg
        >
        <span class="ml-2">Go back home </span>
      </Link>
    </div>
  </Container>
</Layout>
