<a
  href='/'
  class='mb-6 relative after:absolute after:bg-main after:w-1 after:h-full after:-left-2 after:top-0 after:scale-y-0 after:origin-bottom md:after:bg-foreground lg:after:h-0.5 lg:after:w-1/2 lg:after:top-auto lg:after:bottom-0 lg:after:left-0 lg:after:scale-y-100 md:after:scale-x-0 lg:after:origin-right lg:hover:after:scale-x-100 lg:hover:after:origin-left transition after:transition after:duration-300'
>
  <span>{'<-'}</span>
  Back
</a>
