<form class='gap-y-6 lg:gap-x-4 grid lg:grid-cols-2'>
  <div>
    <label for='name' class='sr-only'>Your name</label>
    <input
      required
      id='name'
      name='name'
      type='text'
      spellcheck='false'
      autocomplete='off'
      autocapitalize='off'
      placeholder='Your name'
      class='flex h-11 w-full rounded-md border bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50'
    />
  </div>
  <div>
    <label for='email' class='sr-only'>Your Email</label>
    <input
      type='email'
      name='email'
      required
      id='email'
      autocomplete='off'
      placeholder='Your email'
      class='flex h-11 w-full rounded-md border bg-background px-3 py-2 lg:text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50'
    />
  </div>
  <div class='lg:col-span-2'>
    <label for='message' class='sr-only'>Message</label>
    <textarea
      required
      rows='5'
      id='message'
      name='message'
      spellcheck='false'
      placeholder="Anything you'd like to say..."
      class='flex w-full rounded-md border bg-background px-3 py-2 lg:text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 min-h-11'
    ></textarea>
  </div>
  <button
    class='rounded-lg transition-all duration-300 hover:bg-gradient-to-br hover:from-blue-800 hover:to-fuchsia-700 bg-gradient-to-br from-blue-700 to-fuchsia-600 px-3 py-2 text-white'
  >
    Submit
  </button>
</form>

<script>
  import { actions } from 'astro:actions';

  const form = document.querySelector('form');
  form?.addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const result = await actions.contact(formData);
    
    if (result.data && result.data.success) {
      alert('Message sent successfully!');
    } else {
      alert(result.error || 'Failed to send message.');
    }
  });
  
</script>
