---
import Container from './Container.astro';
---

<footer>
  <Container class='py-10 lg:py-16 border-t'>
    <div
      class='h-full flex justify-between items-center my-auto'
    >
      <div class='text-center md:text-left'>
        <p class='text-foreground text-sm'>
          © Taqib {new Date().getFullYear()}.
        </p>
      </div>
      <div class='flex space-x-8'>
        <a
          target='_blank'
          href='https://github.com/taqh/'
          class='text-sm text-foreground hover:underline'
        >
          Github
        </a>
      </div>
    </div>
  </Container>
</footer>
