---
import Container from './Container.astro';
---

<footer class='min-h-20'>
  <Container class='py-20 border-t'>
    <div
      class='h-full flex flex-col md:flex-row md:justify-between justify-center items-center'
    >
      <div class='text-center md:text-left pb-2 md:pb-0'>
        <p class='text-foreground text-sm'>
          © Taqib {new Date().getFullYear()}.
        </p>
      </div>
      <div class='flex space-x-8'>
        <a
          target='_blank'
          href='https://github.com/taqh/'
          class='text-sm text-foreground hover:underline'
        >
          Source code
        </a>
      </div>
    </div>
  </Container>
</footer>
