---
import Container from './Container.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header>
  <Container>
    <nav
      class='sm:bg-background flex items-center justify-between h-full sm:px-6 py-6 md:py-8 lg:py-10 sm:-mb-10 md:-mb-14 lg:-mb-20'
    >
      <a href="/">
        <p
          id='logo'
          aria-hidden='true'
          class='font-bold font-mono text-lg select-none bg-background uppercase size-10 grid place-content-center'
        >
          tq.
        </p>
      </a>
      <div>
        <ThemeToggle />
      </div>
    </nav>
    <div
      aria-hidden='true'
      class='hidden sm:block sm:h-10 md:h-14 lg:h-20 border-x'
    >
    </div>
  </Container>
</header>
