---
import Container from './Container.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header>
  <Container>
    <nav
      class='sm:bg-background flex items-center justify-between h-full sm:px-6 py-6 md:py-8 lg:py-10 border-x border-dashed'
    >
      <a href="/" class="focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-emerald-500 hover:underline underline-offset-2" aria-label="logo">
        <span class="size-6 rounded-sm bg-foreground grid place-content-center">
          <span class="size-2.5 bg-background rounded-full"></span>
        </span>
      </a>
      <div>
        <ThemeToggle />
      </div>
    </nav>
  </Container>
</header>
