---
import Container from "./Container.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
    <Container class="h-auto py-3.5">
      <nav class="sm:bg-background flex items-center justify-between">
        <div class="flex items-center gap-4">
          <a
            href="/"
            class="hover:underline underline-offset-[2px] decoration-dashed focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-accent duration-300 transition-colors font-medium font-serif"
          >
            taqib.dev
          </a>
        </div>
        <div>
          <ThemeToggle />
        </div>
      </nav>
    </Container>
</header>
