---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"a"> {
  href: string;
  external?: boolean;
  forward?: boolean;
  class?: string;
  variant?: "card" | "icon" | "button";
}
const {
  href,
  external,
  forward,
  class: classNames,
  variant,
  ...attrs
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={`group font-sans rounded-md flex border hover:bg-card cursor-pointer transition focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-emerald-500 duration-300 focus-visible:outline-offset-2 ${variant === "card" ? "flex-col hover:bg-background/80 backdrop-blur-sm p-4 text-base" : variant === "icon" ? "p-2 border-none" : variant === "button" ? "hover:bg-border focus-visible:bg-border" : "px-4 py-2 items-center justify-center text-sm"} ${classNames}`}
  {...attrs}
>
  <slot />
  {
    external && variant !== "icon" && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="translate-x-1.5 group-hover:-translate-y-0.5 group-hover:translate-x-2.5 group-focus-visible:-translate-y-0.5 group-focus-visible:translate-x-3 transition duration-300 lucide lucide-arrow-up-right"
      >
        <path d="M7 7h10v10" />
        <path d="M7 17 17 7" />
      </svg>
    )
  }
  {
    forward && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="absolute top-1/2 right-4 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current"
      >
        <line
          x1="5"
          y1="12"
          x2="19"
          y2="12"
          class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
        />
        <polyline
          points="12 5 19 12 12 19"
          class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
        />
      </svg>
    )
  }
</a>
