---
import Container from './Container.astro';
---

<header class='h-16'>
  <Container>
    <nav class='flex items-center justify-between h-full'>
      <p class='text-gradient font-bold text-lg'>
        <a href="/">Taqib.</a>
      </p>
      <div class='flex gap-4'>
        <ul class='flex items-center gap-x-6'>
          <li>
            <a href='#about' class=''>About</a>
          </li>
          <li>
            <a href='#projects' class=''>Projects</a>
          </li>
          <li>
            <a href='#contact' class=''>Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </Container>
</header>
