---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"posts">;
};

const { entry } = Astro.props as Props;
const { title, description, slug } = entry.data;
---

<div>
  <a
    href={`/blog/${slug}`}
    class="group hover:bg-card p-4 grid grid-cols-[80%_20%] border rounded-md backdrop-blur-md transition-colors duration-300 ease-in-out focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-accent"
  >
    <div class="flex flex-col gap-1 flex-1">
      <div class="font-medium font-serif line-clamp-1">
        {title}
      </div>
      <div class="text-sm text-muted-foreground line-clamp-1">
        {description}
      </div>
    </div>
    <div class="flex items-center justify-end">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="size-5 stroke-[1.5] fill-none stroke-current"
      >
        <line
          x1="5"
          y1="12"
          x2="19"
          y2="12"
          class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
        ></line>
        <polyline
          points="12 5 19 12 12 19"
          class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
        ></polyline>
      </svg>
    </div>
  </a>
</div>
