---
type Props = {
  entry: {
    title: string;
    links: {
      repo: string;
      live: string;
    };
    description: string;
  };
};

const { entry } = Astro.props as Props;
const { title, links, description } = entry;
---

<li>
  <a
    href={links.live}
    target="_blank"
    class="group flex flex-col gap-4 justify-between border rounded-md hover:bg-card backdrop-blur-md z-10 overflow-hidden p-4 pb-4 transition-colors duration-300 focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-accent h-full"
  >
    <div class="flex flex-col gap-2.5">
      <div class="flex justify-between items-center">
        <p class="font-medium font-serif">
          {title}
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4 text-muted-foreground group-hover:text-foreground transition-colors"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
        </svg>
      </div>
      <p class="text-muted-foreground text-sm">
        {description}
      </p>
    </div>
  </a>
</li>
