---
import { Image } from 'astro:assets';

interface Props {
  src: ImageMetadata;
  alt: string;
  class?: string;
  caption?: string;
}
const { src, alt, class: className, caption } = Astro.props;
---

<div>
  <Image src={src} alt={alt} class={`${className ? className : ''} border border-dashed`} />
  {
    caption && (
      <p class='text-xs text-muted-foreground text-center w-fit -mt-5 mx-auto'>
        {caption}
      </p>
    )
  }
</div>
