---
import Container from "@/components/Container.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/lib/constants";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title={`Projects - ${SITE.TITLE}`} description={SITE.DESCRIPTION}>
  <div class="border-t border-dashed h-full">
    <div
      class="sm:w-[calc(100%-48px)] md:w-[calc(100%-96px)] lg:w-[calc(100%-144px)] sm:border-x mx-auto sm:border-dashed overflow-x-hidden h-full bg-background"
    >
      <Container class="py-20 sm:py-24 lg:py-28">
        <div class="flex flex-col gap-6">
          <div class="space-y-2">
            <h1
              class="font-medium font-serif text-2xl leading-[1.1] sm:text-3xl md:text-4xl"
            >
              Projects
            </h1>
            <p class="text-muted-foreground text-sm">
              A list of projects I've worked on or currently working on.
            </p>
          </div>
          <ul class="flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ProjectCard entry={project} />
                </li>
              ))
            }
          </ul>
        </div>
      </Container>
    </div>
  </div>
</Layout>
